
section.wrapper
{
    text-align: center;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(64, 168, 73);
}

div#time
{
    position:fixed;
    right: 20px;
    top: 20px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    font-size: 25px
}